@import url("fonts.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:700&display=swap");
@import url("reset.css");

body{
    padding: 30px;
    font-family: "inter", sans-serif;
    font-size: 18px;
    color: #7D7D7D;
    line-height: 1.46;
   }
   .main {
    margin: 0 auto;
   }
   .title {
    font-size: 40px;
    color: #3894ab;
   }
   .link {
    font-size: 30px;
    color: black;
}
.hover {
    border: 3px solid #312e93;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
}
.main_hover {
    padding: 20px;
    border: 3px solid #2e934c;
    border-radius: 10px;
    margin-bottom: 30px;
}
.link:hover {
    font-size: 30px;
    text-decoration: underline;
    color: rgb(50, 38, 135);
}
/* main:hover .red {
    color: red;
} */
.red:hover {
    color: red;
}
/* .box_group{
    display: inline-block;
}  */
.box_group {
    font-size: 0;
}
.test {
    font-size: 0;
    max-width: 350px;
    display: inline-block;
    border: 3px solid #181818;
    border-radius: 15px;
    margin-bottom: 50px;
}
.square {
    font-size: 18px;
    padding: 50px;
    display: inline-block;
    color: rgb(220, 255, 221);
    text-align: center;
    vertical-align: middle;
    background-color: #7D7D7D;
    border-radius: 10px;
    margin-right: 50px;
}
.square:hover {
    /* opacity: 0; */
    background-color: #ffffff;
    color: rgb(200, 255, 0);
}
.square_hiden {
    display: inline-block;
    padding: 50px;
    font-size: 18px;
    color: rgb(220, 255, 221);
    text-align: center;
    vertical-align: middle;
    background-color: #7D7D7D;
    border-radius: 10px;
    visibility: hidden;
}
.test:hover .square_hiden{
    visibility: visible;
}
.inline-block {
    font-size: 0;
    margin-bottom: 50px;
}
.active {
    font-size: 18px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 50px;
    background-color: #7D7D7D;
    border-radius: 10px;
    color: rgb(220, 255, 221);
    margin-right: 50px;
}
.active:active {
    background-color: #3894ab;
}
.visited {
    font-size: 18px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 50px;
    background-color: #7D7D7D;
    border-radius: 10px;
    
}
.link_visited {
    color: rgb(220, 255, 221);
}
.link_visited:visited {
    color: #3894ab;
} 
.focus_target {
    font-size: 0;
}
.focus {
    color: aquamarine;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 50px;
    background-color: #7D7D7D;
    border-radius: 10px;
    margin-right: 50px;
}
.focus:focus {
    color: yellowgreen;
    outline: 8px dotted red;
} 
.target {
    color: aquamarine;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 50px;
    background-color: #7D7D7D;
    border-radius: 10px;
}
.target:target {
    color: #312e93;
    padding: 100px;
}
header,
.pseudo_classes {
    margin-bottom: 100px;
}
.first,
.second,
.nth_number,
.even,
.content {
    margin-bottom: 50px;
}
.nth p:not(:last-child) {
    margin-bottom: 15px;
}
.nth,
.odd {
    margin-bottom: 50px;
}
.odd p:not(:last-child) {
    margin-bottom: 15px;
}
.even p:not(:last-child) {
    margin-bottom: 15px;
}
.first_child li:first-child {
    background-color: #312e93;
}
.second_first_child li:first-of-type {
    background-color: #312e93;
}
.nth p:nth-child(2) {
    background-color: #2e934c;
}
.nth p:nth-child(3) {
    background-color: #332e93;
}
.nth p:nth-child(4) {
    background-color: #932e8e;
}
.odd p:nth-child(odd) {
    background-color: #7febf5;
}
.even p:nth-child(even) {
    background-color: #bfff65;
}
.nth_number p:nth-child(3n + 2) {
    background-color: #312e93;
}
.nth_number p:nth-child(3n + 3) {
    background-color: #7673bd;
} 
.nth_number p:not(:last-child) {
    margin-bottom: 15px;
}
.content p:not(:last-child) {
    margin-bottom: 15px;
}
.content {
    outline: 4px solid #332e93;
}
.content ::before {
    content: "Хеві метал";
    width: 300px;
    display: inline-block;
    color: #6ddcf8;
}
.content ::after {
    content: "Good luck";
    color: #861c1c;
}
.business_Management_Consulting,
.image_content,
.frequently {
    max-width: 692px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.whitecollar_content_section {
    max-width: 675px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.sub-title {
    margin-bottom: 5px;
    font-weight: 600;
    line-height: 1.27;
    font-size: 30px;
    font-family: "Poppins";
    color: #37393F;
}
.image_work {
    display: inline-block;
    vertical-align: top;
    margin-right: 29px;
    background-color: #7c7e84;
}
img {
    max-width: 331px;
}
.work_content ol li:not(:last-child) {
    margin-bottom: 30px;
}
.work_content {
    display: inline-block;
    vertical-align: top;
}
.sub-title-3 {
    margin-bottom: 21px;
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 600;
    color: #40DDB6;
    line-height: 1.27;
}
.sub-title-h3 {
    font-size: 20px;
    font-family: "Poppins";
    color: #6B77E5;
    font-weight: 600;
    line-height: 1.27;
    margin-bottom: 12px;
}
* p {
    line-height: 1.46;
}
h4 {
    font-family: "Poppins";
    font-size: 25px;
    font-weight: 600;
    line-height: 1.27;
    color: #37393F; 
    margin-bottom: 15px; 
}
.list_item::before {
    content: "";
    background: url("../img/vector.png") 0 0 no-repeat;
    width: 27px;
    height: 27px;
    display: inline-block;
    margin-bottom: -7px;
    margin-right: 8px;

}
.retreat {
    margin-bottom: 42px;
}
.whitecollar_content_label {
    display: inline-block;
    margin-bottom: 16px;
    font-weight: 500;
    color: #37393F;
}
.whitecollar_content_label::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #40DDB6;
    margin-right: 6px;
    display: inline-block;
}
.whitecollar_content_h2 {
    font-family: "poppins";
    font-size: 40px;
    line-height: 1.21;
    font-weight: 700;
    color: #37393F;
    margin-bottom: 20px;
}
.whitecollar_content_paragraph p:not(:last-child) {
    margin-bottom: 15px;
}
.whitecollar_content_card:not(:last-child) {
    margin-bottom: 31px;
}
.whitecollar_content_paragraph {
    margin-bottom: 20px;
}
.whitecollar_content_card {
    padding: 28px 41px 28px 38px;
    border: solid 1px #E3E3E3;
}
.whitecollar_content_card_retreat {
    padding: 28px 41px 28px 38px;
    border: solid 1px #E3E3E3;
    margin-bottom: 48px;
}
.advantage p {
    padding-left: 46px;
}
.advantage_h3 {
    font-family: "poppins";
    font-size: 20px;
    font-weight: 600;
    color: #37393F;
    margin-bottom: 12px;
}
.advantage_h3::before {
    content: "";
    background: url("../img/vector.png") no-repeat;
    width: 27px;
    height: 27px;
    display: inline-block;
    margin-bottom: -7px;
    margin-right: 19px;
}
.button {
    font-weight: 600;
    color: #FFFFFF;
    vertical-align: middle;
    background-color: #6B77E5;
    padding: 21px 35px 22px 35px;
}
.button:hover {
    border-radius: 5px;
    background-color: #bec5ff;
}
.how_we_work {
    margin: 0 auto;
    max-width: 1220px;
    margin-bottom: 50px;
}
.center {
    text-align: center;
}
.whitecollar_content_h2_center {
    font-family: "poppins";
    font-size: 40px;
    line-height: 1.21;
    text-align: center;
    font-weight: 700;
    color: #37393F;
    margin-bottom: 77px;
}
.how_we_work_card_section {
    font-size: 0;
    max-width: 1220px;
}
.how_we_work_card p {
    font-family: "inter";
    font-size: 18px;
    line-height: 1.462;
    text-align: center;
    font-weight: 400;
    color: #7D7D7D;
    margin: 37px;
}
.how_we_work_card_img {
    margin: 0 auto;
    text-align: center;
    width: 72px;
    height: 72px;
    margin-bottom: 22px;
    margin-top: -36px;
}
.how_we_work_card:not(:last-child) {
    margin-right: 31px;
}
.how_we_work_card {
    padding: 0px 0px 58px 0px;
    max-width: 386px;
    border: solid 1px #E3E3E3;
    background-color: #F4F4F4;
    display: inline-block;
    text-align: center
}
.how_we_work_card_h4 {
    margin-bottom: 16px;
    text-align: center;
}

.how_we_work_card a {
    font-family: "inter";
    font-size: 18px;
    font-weight: 600;
    color: #6B77E5;
}
.how_we_work_card a:hover {
    color: #3e4ee4;
    text-decoration: underline;
}
.jewellery {
    max-width: 1214px;
    font-size: 0;
    margin-bottom: 50px;
}
.title_jewellery {
    max-width: 488px;
    display: inline-block;
    vertical-align: top;
    padding-top: 166px;
}
.title_jewellery_h2 {
    font-family: "Cormorant Infant";
    font-weight: 700;
    font-size: 60px;
    line-height: 1.15;
    color: #000;
    margin-bottom: 13px;
}
.title_jewellery_h2::after {
    content: "";
    width: 304px;
    height: 3px;
    display: block;
    background: #78473b;
}
.jewellery_content {
    display: inline-block;
    vertical-align: top;
    margin: 32px 45px 0px 0px;
}
.jewellery_content_one_border_img {
    font-size: 0;
    display: inline-block;
    border: solid 1px #000;
    margin-bottom: 34px;
    max-width: 334px;
    max-height: 381px;
}
.jewellery_content_one_img {
    width: 100%;
    height: 100%;
    margin: 9px -10px -9px 10px;
    background-color: #757575;
}
.jewellery_content_one_img:hover {
    margin: 0px 0px 0px 0px;
    transition: all 0.5s;
}
.name_price {
    font-family: "Cormorant Infant";
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    color: #000;
}
.jewellery_content_two {
    display: inline-block;
    font-family: "Cormorant Infant";
    font-weight: 700;
    font-size: 46px;
    color: #000;
}
.sub-title_jewellery_content {
    margin-bottom: 31px;
}
.sub-title_jewellery_content p {
    line-height: 1,13;
}
.my_game {
    max-width: 1200px;
    border: solid 1px #585353;
    border-radius: 20px;
    margin-bottom: 50px;
    padding-bottom: 30px;
}
.my_game_h2 {
    text-align: center;
    font-family: "inter";
    font-weight: 600;
    font-size: 50px;
    color: #a97575;
}
.game {
    margin: 0 auto;
    max-width: 800px;
    border: solid 1px #585353;
    border-radius: 20px;
    padding: 50px;
    font-size: 0;
}
.first_step {
    margin: 0 auto;
    width: 40px;
    height: 60px;
    background-color: #433f8a;
}
.second_step {
    width: 50%;
    height: 40px;
    background-color: #2d2b66;
    display: inline-block;
    visibility: hidden;
}
.third_step {
    width: 50%;
    height: 40px;
    background-color: #2d2b66;
    display: inline-block;
    visibility: hidden;
}
.first_step:hover ~ .second_step,
.first_step:hover ~ .third_step,
.second_step:hover,
.third_step:hover{
    visibility: visible;
}
.fourth_step {
    width: 30px;
    height: 40px;
    background-color: #2d2b66;
    display: inline-block;
    visibility: hidden; 
}
.fifth_step {
    width: 30px;
    height: 40px;
    background-color: #2d2b66;
    display: inline-block;
    vertical-align: top;
    visibility: hidden; 
}
.second_step:hover ~ .fourth_step,
.third_step:hover ~ .fifth_step,
.fifth_step:hover,
.fourth_step:hover{
    visibility: visible;
}

.sixth_step {
    width: 30px;
    height: 40px;
    background-color: #2d2b66;
    visibility: hidden;
    display: inline-block; 
}
.third_step:hover ~ .fourth_step,
.fourth_step:hover ~ .fifth_step,
.fifth_step:hover,
.fourth_step:hover {
    visibility: visible;
}
.fifth_step:hover ~ .sixth_step,
.sixth_step:hover {
    visibility: visible;
}
.third_step:hover ~ .fourth_step,
.fourth_step:hover ~ .fifth_step,
.fifth_step:hover,
.fourth_step:hover {
    visibility: visible;
}
.seventh_step {
    width: 30px;
    height: 40px;
    background-color: #2d2b66;
    margin-left: 80px;
    visibility: hidden;
}
.fifth_step:hover ~ .sixth_step,
.sixth_step:hover ~ .seventh_step,
.sixth_step:hover,
.seventh_step:hover {
    visibility: visible;
}
.seventh_step {
    width: 30px;
    height: 40px;
    background-color: #2d2b66;
    margin-left: 80px;
    visibility: hidden;
}
.seventh_step:hover ~ .eighth_step,
.eighth_step:hover {
    visibility: visible;
}
.eighth_step {
    width: 300px;
    height: 10px;
    background-color: #2d2b66;
    margin-left: 80px;
    visibility: hidden;
}
.eighth_step:hover ~ .ninth_step,
.ninth_step:hover ~ .tenth_step,
.ninth_step:hover,
.tenth_step:hover {
    visibility: visible;
}
.ninth_step {
    width: 10px;
    height: 50px;
    background-color: #2d2b66;
    margin-left: 375px;
    visibility: hidden;
}
.tenth_step {
    width: 50px;
    height: 50px;
    background-color: #2d2b66;
    margin-left: 377px;
    visibility: hidden;
}
.tenth_step:hover ~ .game_img,
.game_img:hover {
    visibility: visible;
    transition: 1s;
}


.game_img {
    margin: 0 auto;
    border: solid 1px #585353;
    border-radius: 20px;
    padding: 20px;
    visibility: hidden;
}
.game_img_me {
    margin: 0 auto;
    max-width: 331px;
    margin-bottom: 30px;
}
.content_img {
    font-family: "Poppins";
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    color: #e39c3a;
}
footer {
    width: 100%;
    padding: 50px 0 50px 0;
    font-family: "Poppins";
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    background-color: #cff5ff;
    color: #712f2f;
    border-radius: 20px;
}