@import url("https://fonts.googleapis.com/css?family=Ubuntu:regular,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap");
@import url("fonts.css");
@import url("reset.css");
body {
	font-family: "Inter", sans-serif;
	color: #000000;
}
.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
.header {
	width: 100%;
	background-image: url(../img/mohammad.jpg);
	background-position: 70%;
	color: rgb(124, 181, 162);
	padding: 50px 0px;
	text-align: center;
	font-size: 30px;
	border-radius: 20px;
	max-width: 1633px;
	margin: 0 auto;
}
/* ///////////////////////////Ours-products\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.ours-products {
	max-width: 1633px;
	background-color: #0E333D;
	padding: 94px 0px;
	margin-bottom: 50px;
	margin: 0 auto;
}
.most-popular-product__container,
.ours-products__container {
	max-width: 1203px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	align-items: center;
}

.ours-products__header {
	display: flex;
	flex-direction: column;
	row-gap: 23px;
	margin: 0 auto 34px;
	align-items: center;
}

.ours-products__title {
	font-family: "DM Serif Text";
	font-size: 48px;
	color: #FFFFFF;
	line-height: 1.27;
}
.ours-products__sub-title {
	font-family: "Raleway";
	font-size: 20px;
	color: #EBEBEB;
	line-height: 1.27;
	font-weight: 500;
}
.menu-products {
	display: flex;
	column-gap: 41px;
	margin: 0 auto 34px;
	justify-content: center;
}
.menu-products__item {
	font-family: "Raleway";
	font-size: 18px;
	color: #FFFFFF;
	display: flex;
	line-height: 1.27;
	font-weight: 600;
	transition: all 0.4s;
}
.menu-products__item:hover {
	text-decoration: underline 2px rgb(255, 255, 255);
}
.card-product__img {
	width: 100%;
	height: 100%;
	aspect-ratio: 270 / 270;
	object-fit: cover;
	margin-bottom: 17px;
	transition: 0.4s;
}

.card-product__name {
	font-family: "Cormorant Infant";
	font-size: 24px;
	color: #FFFFFF;
	line-height: 1.4;
	font-weight: 700;
	margin-bottom: 5px;
	transition: all 0.4s;
}
.card-product__item:hover .card-product__name {
	text-decoration: underline 2px rgb(255, 255, 255);
}
.card-product__item:hover .card-product__img {
	transform: scale(1.02);
}
.card-product__price {
	font-family: "Cormorant Infant";
	font-size: 24px;
	color: #FFFFFF;
	line-height: 1.4;
	font-weight: 700;
}
.ours-product,
.popular-product,
.card-product {
	display: flex;
	row-gap: 30px;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.popular-product {
	margin-bottom: 76px;
}
.most-popular-product__column,
.ours-products__column {
	padding: 0 15px;
    flex: 1 0 25%;
}
@media (max-width: 1047px) {
	.ours-products__column {
		padding: 0 15px;
    	flex: 0 1 33.3333%;
	}
}
@media (max-width: 785px) {
	.ours-products__column {
		padding: 0 15px;
    	flex: 0 1 50%;
	}
}
@media (max-width: 524px) {
	.ours-products__column {
		padding: 0 10px;
    	flex: 0 1 100%;
	}
	.ours-products__title {
		font-size: 30px;
	}
	.ours-products__sub-title {
		font-size: 20px;
	}
	.menu-products {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		margin: 0 auto 25px;
		justify-content: center;
		align-items: center;
	}
}
@media (max-width: 352px) {
	.ours-products__sub-title {
		font-size: 18px;
	}
}
/* ///////////////////////////Most-popular-products\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.most-popular-product {
	margin-bottom: 30px;
}
.ours-popular-product__header,
.most-popular-product__header {
	display: flex;
	flex-direction: column;
	row-gap: 27px;
	text-align: center;
}
.most-popular-product__title {
	font-family: "DM Serif Text";
	font-size: 58px;
	color: #291403;
	line-height: 1.4;
}
.most-popular-product__sub-title {
	font-family: "Cormorant Infant";
	font-size: 30px;
	color: #818181;
	line-height: 1.4;
	font-weight: 700;
}
.popular-product__img {
	width: 100%;
	height: 100%;
	aspect-ratio: 271 / 270;
	object-fit: cover;
	margin-bottom: 17px;
	transition: 0.4s;
}
.popular-product__name {
	font-family: "Cormorant Infant";
	font-size: 24px;
	color: #000000;
	line-height: 1.4;
	font-weight: 700;
	margin-bottom: 5px;
	transition: all 0.4s;
}
.popular-product__item:hover .popular-product__name {
	text-decoration: underline 2px rgb(0, 0, 0);
}
.popular-product__item:hover .popular-product__img {
	transform: scale(1.02);
}
.popular-product__price {
	font-family: "Cormorant Infant";
	font-size: 24px;
	color: #000000;
	line-height: 1.4;
	font-weight: 700;
}
.most-popular-product__button {
	padding: 12px 42px;
    background-color: #FF7A49;
    font-family: "Ubuntu", sans-serif;
    color: white;
    font-size: 16px;
    line-height: 1.87;
    transition: background-color 0.3s;
    text-align: center;
}
.most-popular-product__button:hover {
	background-color: #c84b1e;
}
@media (max-width: 1047px) {
	.most-popular-product__column {
		padding: 0 15px;
    	flex: 0 1 33.3333%;
	}
}
@media (max-width: 785px) {
	.most-popular-product__column {
		padding: 0 15px;
    	flex: 0 1 50%;
	}
}
@media (max-width: 524px) {
	.most-popular-product__column {
		padding: 0 10px;
    	flex: 0 1 100%;
	}
	.most-popular-product__title {
		font-size: 30px;
	}
	.most-popular-product__sub-title {
		font-size: 20px;
	}
}
/* ///////////////////////////////Ours popular-product\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.ours-popular-product {
	background: #fefaf4 url(../img/ours_popular_product/flowers.png) 100% 115% / auto no-repeat;
	padding: 50px 150px;
}
.ours-popular-product__container {
	max-width: 1197px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.ours-popular-product__header {
	display: flex;
	flex-direction: column;
	row-gap: 27px;
	align-items: start;
	margin-bottom: 53px;
}
.ours-popular-product__title {
	font-family: "DM Serif Text";
	font-size: 58px;
	color: #000000;
	line-height: 1.0;
}
.ours-popular-product__sub-title {
	font-size: 20px;
	line-height: 1.8;
	color: #606060;
}
.ours-product {
	display: flex;
	row-gap: 30px;
	flex-wrap: wrap;
	margin: 0 -24px;
}
.ours-popular-product__column {
	padding: 0 24px;
    flex: 1 0 33.3333%;
}
.ours-product__img {
	margin-bottom: 16px;
	transition: 0.4s;
	width: 100%;
	height: 100%;
	aspect-ratio: 357 / 240;
	object-fit: cover;
	margin-bottom: 16px;
}
.ours-product__name {
	font-family: "DM Serif Text";
	font-size: 24px;
	color: #000000;
	line-height: 1.2;
	margin-bottom: 16px;
}
.ours-product__item-link:hover .ours-product__img {
	transform: scale(1.02);
}
.ours-product__content {
	color: #000;
	font-weight: 400;
	line-height: 1.6;
	margin-bottom: 8px;
	font-size: 16px;
}
.ours-product__link {
	font-size: 16px;
	line-height: 1.50;
    font-weight: 800;
    color: #F55529;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}
.ours-product__link::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: url(../img/ours_popular_product/arrov.svg) no-repeat;
    transition: transform 0.2s;
}
.ours-product__link:hover::after {
	transform: scale(1.1);
}
.ours-product__link:hover {
	text-decoration: underline 2px #F55529;
	font-weight: 900;
}
@media (max-width: 1361px){
	.ours-popular-product {
		padding: 50px 50px;
	}
}
@media (max-width: 1161px){
	.ours-popular-product {
		padding: 15px 15px;
	}
}
@media (max-width: 1098px){
	.ours-popular-product__column {
		padding: 0 24px;
		flex: 0 1 50%;
	}
}
@media (max-width: 731px){
	.ours-product__name {
		font-size: 20px;
	}
	.ours-popular-product {
		padding: 0;
	}
	.ours-product {
		row-gap: 20px;
		margin: 0 -18px;
	}
	.ours-popular-product__column {
		padding: 0 18px;

	}
	.ours-product__img {
		margin-bottom: 10px;
	}
	.ours-product__name {
		margin-bottom: 10px;
	}
	.ours-product__content {
		margin-bottom: 5px;
	}
}
@media (max-width: 586px){
	.ours-popular-product {
		padding: 0;
	}
	.ours-product {
		row-gap: 20px;
		margin: 0 -10px;
	}
	.ours-popular-product__column {
		padding: 0 10px;

	}
	.ours-popular-product {
		background: #fefaf4 url(../img/ours_popular_product/flowers.png) 100% 80% / auto no-repeat;
	}
	.ours-product__name {
		font-size: 18px;
	}
}
@media (max-width: 543px){
	.ours-popular-product {
		padding: 0;
	}
	.ours-product {
		row-gap: 20px;
		margin: 0 -10px;
	}
	.ours-popular-product__column {
		padding: 0 10px;

	}
	.ours-popular-product {
		background: #fefaf4 url(../img/ours_popular_product/flowers.png) 100% 80% / auto no-repeat;
	}
	/* .ours-popular-product__column {
		padding: 0 24px;
		flex: 0 1 100%;
	} */
	.ours-product__content {
		font-size: 14px;
	}
}
@media (max-width: 518px){
	.ours-popular-product__column {
		flex: 0 1 100%;
	}
	.ours-popular-product {
		background: #fefaf4 url() 0 0 / auto no-repeat;
	}
}
footer {
    width: 100%;
    padding: 50px 0 50px 0;
    font-family: "Poppins";
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    background-color: #cff5ff;
    color: #712f2f;
    border-radius: 20px;
    margin: 0 auto;
}