@import url("reset.css");
@import url("header.css");
@import url("fonts.css");


body {
	background-color: #ffffff;
	font-family: "Inter", sans-serif;
	color: #000000;
}
.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1200px; /* 1170 + 15 + 15 */
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.hero {
	background-color: #502203;
	padding: 100px 0px 55px 0px;
	flex-grow: 1;
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
}
.hero__container {
	flex: 1 1 auto;
	display: flex;
	align-items: flex-start;
	overflow: hidden;
}
.hero__title {
	font-family: "Cormorant infant";
	font-size: 78px;
	font-weight: 700;
	line-height: 1.29;
	color: #fff;
	margin-bottom: 9px;
}
.hero__title-button {
	padding: 57px 30px 0px 0px;
}
.hero__button {
	font-family: "Cormorant infant";
	font-size: 24px;
	font-weight: 600;
	color: #fff;
	padding: 15px 25px;
	outline: 1px solid #fff;
	position: relative;
	border-radius: 4px;
}
.hero__button::before {
	border-radius: 4px;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 12px;
	left: -8px;
	transition: all 0.3s;
	background-color: rgba(255, 255, 255, 0.06);
}
@media (any-hover: hover) {
.hero__button:hover.hero__button::before {
	top: 0px;
	left: 0px;
}
}
.hero__img {
	flex-basis: 36.75%;
	flex-shrink: 0;
	border-radius: 215px;
	border: 1px solid #fff;
	padding: 20px;
}
.hero__img img {
	width: 100%;
	height: 100%;
	aspect-ratio: 390 / 554;
	object-fit: cover;
	max-width: 390px;
}
.hero__content {
	padding: 76px 0px 0px 23px;
}
.hero__img-left-up {
	position: absolute;
    bottom: 120px;
	left: -50px;
    height: 100%;
    /* height: 110vh; */
    z-index: 1;
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
} 
.hero__img-left-up {
    width: 211px;
}
.hero__img-left-down {
	position: absolute;
   	top: 70.6%;
	left: 78px;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
}
.hero__img-left-down { 
	width: 245px;
}

.right-section {
	position: absolute;
    bottom: 0;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
	overflow: hidden;
    width: 310px;
    right: 0;
    align-items: flex-end;
}
.right-section__img-up {
	width: 623px;
    height: 396px;
    position: absolute;
    bottom: 200px;
    right: -430px;
}
.right-section__decor {
	position: absolute;
    border-radius: 215px;
    right: -105px;
    bottom: 55px;
    z-index: 1;
}
.right-section__img-down {
	border-radius: 195px;
    border: 1px solid #FFF;
    padding: 12px;
    max-width: 100%;
    aspect-ratio: 237/336;
}
.hero__text {
	font-family: "Cormorant infant";
	font-size: 22px;
	font-weight: 700;
	line-height: 1.48;
	color: #fff;
	margin-bottom: 176px;

}
.hero__text-second {
	position: relative;
	font-family: "Cormorant infant";
	font-size: 32px;
	font-weight: 600;
	line-height: 1.2;
	color: #fff;
	padding-left: 10px;
	align-self: flex-end;
}
.hero__text-second::before {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	content: " ";
	width: 1px;
	height: 78.947368%;
	/* 60/76 */
	background-color: #fff;
}
.hero__content {
	display: flex;
    flex-direction: column;
    gap: 20px;
	align-self: stretch;
	position: relative;
	z-index: 10;
}
@media (max-width:991px) {
.hero__container {
	flex-direction: column;
    gap: 40px;
	align-items: stretch;
}
.hero {
	padding: 30px 0;
}
.hero__title {
	font-size: 68px;;
}
.hero__content {
	padding: 0;
}
.hero__title-button {
	padding: 0px;
	text-align: center;
}
.hero__body {
	text-align: center;
}
.hero__text {
	margin-bottom: 0px;
}
.hero__text-second {
	align-self: flex-start;
}
.hero__img {
	align-self: center;
}
}
@media (max-width:1498px) {
	.right-section__decor {
		display: none;
	}
}
@media (max-width:1200px) {
	.hero__img-left-down {
		display: none;
	}
}
@media (max-width:806px) {
	.hero__img-left-up,
	.right-section__img-up {
		display: none;
	}
}
/* //////////////////////////////jewelry-design\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.jewelry-design {
	background-color: #FFF9F4;
	color: #000000;
	padding-top: 100px;
}
.content-jewelry__title {
color: #0E333D;
font-family: "DM Serif Text";
font-size: 78px;
font-weight: 400;
line-height: 1.27;
margin-bottom: 32px; 
}
.content-jewelry p {
color: #727272;
font-family: "Inter";
font-size: 22px;
font-weight: 400;
line-height: 1.48; /* 32.56px */
margin-bottom: 48px;
}
.button-section__button {
color: #FFF;
font-family: "DM Serif Text";
font-size: 28px;
font-weight: 400;
padding: 17px 37.5px;
background-color: #0E333D;
border-radius: 5px;
}
@media (any-hover: hover) {
.button-section__button:hover {
	background-color: #18596b;
	}
}
.button-section__video-link {
color: #0E333D;
font-family: "DM Serif Text";
font-size: 28px;
font-weight: 400;
}
@media (any-hover: hover) {
	.button-section__video-link:hover {
		text-decoration-line: underline;
		color: #18596b;
	}
}

.hero-jewelry__container {
	display: flex;
	flex-direction: row;
	gap: 8%;

}
.menu__link--no-after::after {
	display: none;
}
.content-jewelry {
	display: flex;
	flex-direction: column;
	max-width: 48%;
	margin-top: 65.35px;
}
.content-jewelry__button-section {
	display: flex;
	flex-direction: row;
	gap: 47px;
	align-items: center;
}

.hero-jewelry__img--margin-top {
	margin-top: 69px;
}
.hero-jewelry__img img {
	width: 100%;
	height: 100%;
    aspect-ratio: 246 / 468;
    object-fit: cover;
	max-width: 246px;
	max-height: 468px;
	margin-bottom: 69px;
}
.hero-jewelry__img-section {
	display: flex;
    gap: 6.1%;	
	flex-basis: 44%;
    flex-shrink: 1;			
}
@media (max-width:810px) {
	.jewelry-design {
		padding-top: 0px;
	}
	.hero-jewelry__container {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 30px
	}
	.content-jewelry__title {
		font-size: 50px;
		margin-bottom: 20px;
		}
	.content-jewelry p {
		font-size: 18px;
		margin-bottom: 30px;
		}
	.content-jewelry {
		display: flex;
		flex-direction: column;
		max-width: 100%;
		align-items: center;
		}
		.content-jewelry {
			margin-top: 40px;
		}
	.hero-jewelry__img-section {
		width: 100%;
		}
	.hero-jewelry__img {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 49%;
	}
	.hero-jewelry__img--margin-top {
		margin-top: 0px;
		}
		.hero-jewelry__img img {
		max-width: 100%;
		max-height: 350px;
		margin-bottom: 0px;
	}
}
@media (max-width:510px) {
	.hero-jewelry__img img {
		max-width: 100%;
		max-height: 250px;
		margin-bottom: 0px;
	}
}
@media (max-width:410px) {
	.hero-jewelry__img img {
		max-width: 100%;
		max-height: 200px;
		margin-bottom: 0px;
	}
	.content-jewelry__title {
		font-size: 35px;
		margin-bottom: 15px;
		}
		.content-jewelry {
			margin-top: 30px;
		}
	.content-jewelry p {
		font-size: 15px;
		margin-bottom: 20px;
		}
	.button-section__button {
		font-size: 20px;
		font-weight: 400;
		padding: 15px 25px;
		background-color: #0E333D;
		border-radius: 5px;
	}
	.button-section__video-link {
		font-size: 20px;
	}
}
footer {
    width: 100%;
    padding: 50px 0 50px 0;
    font-family: "Poppins";
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    background-color: #cff5ff;
    color: #712f2f;
    border-radius: 20px;
    margin: 0 auto;
}
.footer___link:hover {
	color: #6f00d6;
}