@import url("reset.css");
@import url("header.css");
@import url("fonts.css");


body {
	background-color: #ffffff;
	font-family: "Inter", sans-serif;
	color: #000000;
}
.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1200px; /* 1170 + 15 + 15 */
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.hero {
	background-color: #502203;
	padding: 100px 0px 55px 0px;
	flex-grow: 1;
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
	margin-bottom: 50px;
}
.hero__container {
	flex: 1 1 auto;
	display: flex;
	align-items: flex-start;
	overflow: hidden;
}
.hero__title {
	font-family: "Cormorant infant";
	font-size: 78px;
	font-weight: 700;
	line-height: 1.29;
	color: #fff;
	margin-bottom: 9px;
}
.hero__title-button {
	padding: 57px 30px 0px 0px;
}
.hero__button {
	font-family: "Cormorant infant";
	font-size: 24px;
	font-weight: 600;
	color: #fff;
	padding: 15px 25px;
	outline: 1px solid #fff;
	position: relative;
	border-radius: 4px;
}
.hero__button::before {
	border-radius: 4px;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 12px;
	left: -8px;
	transition: all 0.3s;
	background-color: rgba(255, 255, 255, 0.06);
}
@media (any-hover: hover) {
.hero__button:hover.hero__button::before {
	top: 0px;
	left: 0px;
}
}
.hero__img {
	flex-basis: 36.75%;
	flex-shrink: 0;
	border-radius: 215px;
	border: 1px solid #fff;
	padding: 20px;
}
.hero__img img {
	width: 100%;
	height: 100%;
	aspect-ratio: 390 / 554;
	object-fit: cover;
	max-width: 390px;
}
.hero__content {
	padding: 76px 0px 0px 23px;
}
.hero__img-left-up {
	position: absolute;
    bottom: 120px;
	left: -50px;
    height: 100%;
    /* height: 110vh; */
    z-index: 1;
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
} 
.hero__img-left-up {
    width: 211px;
}
.hero__img-left-down {
	position: absolute;
   	top: 70.6%;
	left: 78px;
    height: 100%;
    /* height: 110vh; */
    z-index: 1;
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
}
.hero__img-left-down { 
	width: 245px;
}

.right-section {
	position: absolute;
    bottom: 0;
    height: 100%;
    /* height: 110vh; */
    z-index: 1;
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
	overflow: hidden;
    width: 310px;
    right: 0;
    align-items: flex-end;
}
.right-section__img-up {
	width: 623px;
    height: 396px;
    position: absolute;
    bottom: 200px;
    right: -430px;
}
.right-section__decor {
	position: absolute;
    border-radius: 215px;
    right: -105px;
    bottom: 55px;
    z-index: 1;
}
.right-section__img-down {
	border-radius: 195px;
    border: 1px solid #FFF;
    padding: 12px;
    max-width: 100%;
    aspect-ratio: 237/336;
}
.hero__text {
	font-family: "Cormorant infant";
	font-size: 22px;
	font-weight: 700;
	line-height: 1.48;
	color: #fff;
	margin-bottom: 176px;

}
.hero__text-second {
	position: relative;
	font-family: "Cormorant infant";
	font-size: 32px;
	font-weight: 600;
	line-height: 1.2;
	color: #fff;
	padding-left: 10px;
	align-self: flex-end;
}
.hero__text-second::before {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	content: " ";
	width: 1px;
	height: 78.947368%;
	/* 60/76 */
	background-color: #fff;
}
.hero__content {
	display: flex;
    flex-direction: column;
    gap: 20px;
	align-self: stretch;
	position: relative;
	z-index: 10;
}
@media (max-width:991px) {
.hero__container {
	flex-direction: column;
    gap: 40px;
	align-items: stretch;
}
.hero {
	padding: 30px 0;
}
.hero__title {
	font-size: 68px;;
}
.hero__content {
	padding: 0;
}
.hero__title-button {
	padding: 0px;
	text-align: center;
}
.hero__body {
	text-align: center;
}
.hero__text {
	margin-bottom: 0px;
}
.hero__text-second {
	align-self: flex-start;
}
.hero__img {
	align-self: center;
}
}
@media (max-width:1498px) {
	.right-section__decor {
		display: none;
	}
}
@media (max-width:1200px) {
	.hero__img-left-down {
		display: none;
	}
}
@media (max-width:806px) {
	.hero__img-left-up,
	.right-section__img-up {
		display: none;
	}
}
/* //////////////////////////////jewelry-design\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.jewelry-design {
	background-color: #FFF9F4;
}