@import url("fonts.css");
@import url("reset.css");



.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
    
}
.wrapper > main {
	flex-grow: 1;
}
.header-container-menu {
    max-width: 1440px;
    margin-bottom: 50px;
}
.header-menu {
    display: flex;
    height: 46px;
    max-width: 1240px; 
    margin: 0 auto;
}
.menu-centr {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    padding: 0 60px 0 163px;
}
.menu-centr__search {
    display: flex;
    align-items: center;
    flex-basis: 184px;
    flex-shrink: 1;
    flex-grow: 0;
    padding: 12px 40px;
    border-radius: 8px;
    background: #f6f6f6;
}
.menu-centr__search p {
    font-family: "Causten";
    font-size: 18px;
    font-weight: 500;
    color: #807D7E;
    margin-left: 12px;
}
.header-menu__menu {
    display: flex;
    align-items: center;
    position: relative;
}
.menu-centr__item-link {
    display: inline-flex;
    font-family: "Causten";
    font-size: 18px;
    font-weight: 400;
    color: #333333;

}
.menu-centr__item-link:hover {
    color: #888888;
}
.menu-centr__item-link img {
    margin-left: 19px;
    transition-duration: 0.6s;
}
.menu-centr__item-link:hover img {
    transform: rotate(180deg);
    transition: 0.6s;
    
}
.menu-centr__item {
    transition: 0.6s;
}
.menu-centr__sub-item1,
.menu-centr__sub-item2,
.menu-centr__sub-item3 {
margin-bottom: 10px;
}
.menu-centr__item-sub {
    font-family: "Causten";
    font-size: 18px;
    font-weight: 400;
    color: #333333;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    top: 28px;
    left: 0;
    transition-duration: 0.6s;
}
.menu-centr__sub-item1:hover {
    color: #888888;
}
.menu-centr__sub-item2:hover {
    color: #888888;
}
.menu-centr__sub-item3:hover {
    color: #888888;
}
.menu-centr__item:hover .menu-centr__item-sub {
    visibility: visible;
    transition: 0.6s;
    opacity: 1;
} 
.header-menu__btns-block {
    display: inline-flex;
    gap: 29px;
}

.button--violet-mod {
    padding: 12px 48px 12px 48px;
    background-color: #8A33FD;
    color: #FFFFFF;
    font-family: "Causten";
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    transition: 0.4s;
}
.button--violet-mod:hover {
    background-color: #a25bff;
}
.button--white-mod {
    padding: 12px 48px 12px 48px;
    color: #8A33FD;
    font-family: "Causten";
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid #3C4242;
    transition: 0.4s;
}
.button--white-mod:hover {
    border-color: transparent;
    background-color: #8a33fd;
    color: #fff;
}
.categories-for-men {
    max-width: 1240px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.section-card {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex-basis: 21.77%;
    flex-grow: 0;
    flex-shrink: 1;
}
.card-name {
    margin-right: 20px;
}
.categories-title::before {
    content: "";
    width: 6px;
    height: 30px;
    border-radius: 10px;
    background: #8a33fd;
    display: inline-block;
    transform: translateY(4px);
    margin-right: 20px;
}
.categories-title {
    font-family: "CoreSansC", sans-serif;
    font-weight: 600;
    font-size: 34px;
    color: #3c4242;
    letter-spacing: 0.68px;
    margin-bottom: 70px;
}

.categories-card-section {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 50px; 
}
.section-card__cta {
    font-size: 14px;
    font-family: "Causten";
    font-weight: 500;
    color: #7F7F7F;
    line-height: 1.279;
    letter-spacing: -0.56px;
}
.img-section-card {
    /* flex-basis: 21,77%;  */
    transition: 0.3s;
    width: 100%;
    border-radius: 10px;
}
.img-section-card:hover {
    transform: scale(1.05);
}
.section-card__link {
    margin-bottom: 16px;
}
.section-card__product-name {
    font-size: 18px;
    font-family: "Causten";
    font-weight: 700;
    margin-bottom: 10px;
    transition: 0.5s;
}
.section-card__product-name:hover {
    transform: scale(1.05);
}
.section-card__name {
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
    flex-grow: 0;
}
.my-orders {
    max-width: 895px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin: 0 auto 50px;
}
.my-orders-content {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 100%;
    align-items: center;
}
.wishlist-title,
.orders-title {
    font-family: "CoreSansC", sans-serif;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.56px;
    color: #3C4242;
}
.orders-card {
    display: flex;
    justify-content: space-between;
    row-gap: 30px;
    
    
}
.orders-content-card {
    padding: 28px 42px 28px 42px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    border-radius: 8px;
}
.orders-content-card__number {
    font-family: "Causten", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #3c4242;
    margin-bottom: 16px;
}
.card-info-payment__payment-status,
.card-info-status__date,
.card-status-payment__status,
.card-date-time__date {
    font-family: "Causten", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #807D7E;
}
.orders-card__info {
    display: inline-flex;
    flex-direction: column;
    row-gap: 7px;
}
.wishlist-product-price-button,
.wishlist-info-qty,
.wishlist-info-color, 
.product-info-total,
.product-info-qty,
.product-info-color,
.card-info-payment,
.card-info-status,
.card-status-payment,
.card-date-time {
    display: inline-flex;
    flex-direction: row;
}
.card-date-time__time,
.card-status-payment__payment,
.card-info-status__time,
.card-info-payment__payment {
    font-family: "Causten", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #BEBCBD;
    padding-left: 3px;
}

.orders-content-product {
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 25px;
    position: relative;
    padding-bottom: 30px;
}
.orders-content-product::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #edeef2;
    position: absolute;
    top: 100%;
    left: 0;
}
.orders-content-product__img {
    transition: 0.5s;
    max-width: 96px;
}
.orders-content-product__img:hover {
    transform: scale(1.08);
}

.content-product-info-card {
    display: inline-flex;
    flex-direction: column;
    row-gap: 7px;
    column-gap: 20px;
}
.product-info-name {
    font-family: "Causten", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #3c4242;
    margin-bottom: 10px;
    transition: 0.5s;
}
.product-info-name:hover {
    transform: scale(1.05);
}
.content-product-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.content-product-info-button {
    padding: 14px 28px 14px 28px;
    background-color: #8A33FD;
    color: #FFFFFF;
    border-radius: 8px;
    font-family: "Causten", sans-serif;
    font-weight: 500;
    font-size: 18px;
    flex-shrink: 0;
}
.content-product-info-button:hover  {
    background-color: #a25bff;
}
.product-info-color__title,
.product-info-qty__title {
    font-family: "Causten", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #3C4242;
}
.product-info-total__title,
.product-info-total__total-number {
    font-family: "Causten", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #807D7E;
}
.product-info-qty__qty-number,
.product-info-color__color-name {
    font-family: "Causten", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #BEBCBD;
    padding-left: 3px;
}
.wishlist {
    width: 903px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    margin: 0 auto 50px;
}
.wishlist-content-product {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-right: 7px;
}
.wishlist-product-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.wishlist-content-product__img-card {
    margin: 0px 36px;
    transition: 0.4s;
    max-width: 110px;
}
.wishlist-content-product__img-card:hover {
    transform: scale(1.08);
}
.wishlist-info-card {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}
.wishlist-product-info-card {
    display: flex;
    flex-direction: column;
}
.wishlist-info-color__title,
.wishlist-info-qty__title,
.wishlist-info-name {
    font-family: "Causten", sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #3C4242;
    letter-spacing: 0.44px;
    /* margin-bottom: 19px; */
    transition: 0.5s;
}
.wishlist-info-name:hover {
    transform: scale(1.05);
}
.wishlist-info-qty__qty-number,
.wishlist-info-color__color-name {
    font-family: "Causten", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #807D7E;
    letter-spacing: 0.44px;
}
.wishlist-product-price-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 50px;
}
.wishlist-product-price-button__button {
    padding: 14px 28px 14px 28px;
    background-color: #8A33FD;
    color: #FFFFFF;
    border-radius: 8px;
    font-family: "Causten", sans-serif;
    font-weight: 500;
    font-size: 18px;
}
.wishlist-product-price-button__button:hover {
    background-color: #a25bff;
}
.wishlist-product-price-button__price {
    font-family: "Causten", sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #807D7E;
    letter-spacing: 0.44px
}
.wishlist-content {
    display: flex;
    flex-direction: column; 
    row-gap: 60px;
}
footer {
    width: 100%;
    padding: 50px 0 50px 0;
    font-family: "Poppins";
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    background-color: #cff5ff;
    color: #712f2f;
    border-radius: 20px;
    margin: 0 auto;
}