@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Regular.woff") format(woff2), url("../fonts/Causten-Regular.woff2") format(woff);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Light.woff2") format(woff2), url("../fonts/Causten-Light.woff") format(woff);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Medium.woff2") format(woff2), url("../fonts/Causten-Medium.woff") format(woff);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Semi-Bold.woff2") format(woff2), url("../fonts/Causten-Semi-Bold.woff") format(woff);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Bold.woff2") format(woff2), url("../fonts/Causten-Bold.woff") format(woff);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Bold.woff2") format(woff2), url("../fonts/Causten-Bold.woff") format(woff);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CoreSansC";
  src: url("../fonts/CoreSansC-65Bold.woff2") format(woff2), url("../fonts/CoreSansC-65Bold.woff") format(woff);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CoreSansC";
  src: url("../fonts/CoreSansC-75ExtraBold.woff2") format(woff2), url("../fonts/CoreSansC-75ExtraBold.woff") format(woff);
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
body {
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
  color: #000000;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1270px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
}
@media (max-width: 520px) {
  .header__form {
    display: none;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 31px 15px 31px 15px;
  color: #807D7E;
  font-family: "Causten";
}
@media (max-width: 1125px) {
  .header__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 620px) {
  .header__container {
    gap: 0px;
  }
}
@media (max-width: 520px) {
  .header__container {
    padding: 20px 10px 20px 10px;
  }
}
.header__menu-form-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 76px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 0px 20px;
}
@media (max-width: 1250px) {
  .header__menu-form-action {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header__logo {
  margin-right: 20px;
}
@media (max-width: 1250px) {
  .header__logo {
    margin-right: 10px;
  }
}
.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 1250px) {
  .header__menu-form-action {
    gap: 40px;
  }
}
@media (max-width: 960px) {
  .header__menu-form-action {
    gap: 10px;
  }
}
.header__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 267px;
          flex: 0 1 267px;
  position: relative;
}
@media (max-width: 1250px) {
  .header__form {
    -ms-flex-preferred-size: 160px;
        flex-basis: 160px;
  }
}
.header__input {
  color: #3c4242;
  height: 44px;
  width: 100%;
  padding: 12px 20px 12px 52px;
  border-radius: 8px;
  background: #f6f6f6;
}
.header__btn {
  position: absolute;
  top: 12px;
  left: 20px;
}
.header__action {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  gap: 12px;
}

@media (max-width: 900px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    right: 100%;
    -webkit-transition: right 0.3s;
    transition: right 0.3s;
    padding: 100px 30px 30px 15px;
    background-color: rgba(102, 71, 51, 0.8352941176);
    color: rgba(179, 255, 252, 0.7450980392);
    z-index: 4;
  }
}
@media (max-width: 900px) {
  .menu-open .icon-menu-burger span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .menu-open .icon-menu-burger::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 50%;
    margin-top: -1px;
  }
  .menu-open .icon-menu-burger::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 50%;
    margin-bottom: -1px;
  }
  .menu-open .menu__body, .menu-open .menu__body::before {
    right: 0;
  }
  .menu-open body {
    overflow: hidden;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 40px;
}
@media (max-width: 1125px) {
  .menu__list {
    gap: 30px;
  }
}
@media (max-width: 900px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: end;
    row-gap: 28px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}
.menu__item {
  font-size: 22px;
}
.menu__item:hover {
  color: #202525;
}
@media (max-width: 900px) {
  .menu__item {
    font-size: 28px;
  }
}

.action-header {
  gap: 8px;
}
@media (max-width: 480px) {
  .action-header {
    gap: 10px;
  }
}
@media (max-width: 360px) {
  .action-header {
    gap: 10px;
  }
}
.action-header__icon {
  max-width: 20px;
  max-height: 20px;
}
.action-header__link {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44px;
          flex: 0 0 44px;
  padding: 12px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  background-color: #F6F6F6;
  border-radius: 8px;
  max-width: 44px;
  max-height: 44px;
}
@media (any-hover: hover) {
  .action-header__link:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@media (max-width: 360px) {
  .action-header__link {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 44px;
            flex: 0 1 44px;
    padding: 8px;
    max-width: 36px;
    max-height: 36px;
  }
}

.icon-menu-burger {
  display: none;
}
@media (max-width: 900px) {
  .icon-menu-burger {
    display: block;
    position: relative;
    width: 44px;
    height: 44px;
    background-color: #f6f6f6;
    border-radius: 8px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 10;
  }
  .icon-menu-burger::before, .icon-menu-burger::after, .icon-menu-burger span {
    position: absolute;
    content: "";
    width: 65%;
    height: 2px;
    left: 8px;
    background-color: #807d7e;
    border-radius: 3px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .icon-menu-burger::before {
    top: 13px;
  }
  .icon-menu-burger::after {
    bottom: 13px;
  }
  .icon-menu-burger span {
    top: 50%;
    margin-top: -1px;
  }
}
@media (max-width: 360px) {
  .icon-menu-burger {
    width: 36px;
    height: 36px;
    background-color: #f6f6f6;
    border-radius: 8px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 10;
  }
  .icon-menu-burger::before {
    top: 10px;
  }
  .icon-menu-burger::after {
    bottom: 10px;
  }
}

.recently-viewed-page {
  margin-top: 200px;
  margin-bottom: 70px;
}
.recently-viewed-page__title {
  font-family: "CoreSansC";
  font-size: 28px;
  font-weight: 700;
  line-height: 1.335;
  letter-spacing: 0.68px;
  padding-left: 26px;
  position: relative;
  margin-bottom: 70px;
}
@media (max-width: 640px) {
  .recently-viewed-page__title {
    margin-bottom: 40px;
  }
}
.recently-viewed-page__title::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 90%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #8a33fd;
  border-radius: 10px;
}
.recently-viewed-page__card-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  gap: 37px;
}

.viewed-card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media (max-width: 949px) {
  .viewed-card__link {
    gap: 20px;
  }
}
@media (max-width: 820px) {
  .viewed-card__link {
    gap: 15px;
  }
}
@media (max-width: 621px) {
  .viewed-card__link {
    gap: 10px;
  }
}
.viewed-card__img {
  overflow: hidden;
  border-radius: 12px;
}
.viewed-card__img-view {
  width: 100%;
  height: 100%;
  aspect-ratio: 282/370;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.viewed-card__img-view:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
@media (max-width: 949px) {
  .viewed-card__img-view {
    max-height: 450px;
  }
}
@media (max-width: 820px) {
  .viewed-card__img-view {
    max-height: 370px;
  }
}
@media (max-width: 621px) {
  .viewed-card__img-view {
    max-height: 400px;
  }
}
.viewed-card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.viewed-card__name-name-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  margin-right: 15px;
}
.viewed-card__name-name-brand:hover {
  outline: 1px #3C4242;
}
.viewed-card__name {
  font-family: "Causten";
  font-size: 16px;
  font-weight: 600;
  color: #3C4242;
}
.viewed-card__name-brand {
  font-family: "Causten";
  font-size: 14px;
  font-weight: 600;
  color: #807D7E;
}
.viewed-card__price {
  font-family: "Causten";
  font-size: 14px;
  font-weight: 600;
  color: #3C4242;
  padding: 10px 20px;
  background-color: #F6F6F6;
  border-radius: 8px;
  max-width: 82.31px;
  height: 36.58px;
}

.feedback__title {
  font-family: "CoreSansC";
  font-size: 28px;
  font-weight: 700;
  line-height: 1.335;
  letter-spacing: 0.68px;
  padding-left: 26px;
  position: relative;
  margin-bottom: 70px;
}
.feedback__title::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 90%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #8a33fd;
  border-radius: 10px;
}
@media (max-width: 640px) {
  .feedback__title {
    margin-bottom: 40px;
  }
}
.feedback__card-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(396.87px, 1fr));
  gap: 23.19px;
}
@media (max-width: 850px) {
  .feedback__card-section {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.feedback__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 23.19px;
  border: 1.8px solid #BEBCBD;
  border-radius: 10px;
}
.img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.img__client {
  width: 100%;
  height: 100%;
  aspect-ratio: 58/58;
  margin-right: 20px;
  max-width: 58px;
  max-height: 58px;
}

.star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 4px;
}
.star__star-img {
  max-width: 23px;
  max-height: 23px;
}

.text p {
  font-family: "Causten";
  font-size: 14px;
  letter-spacing: 0.28px;
  color: #807D7E;
  font-weight: 400;
}
.text__name {
  font-family: "CoreSansC";
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0.44px;
  color: #3C4242;
  margin-bottom: 20px;
}