
@import url("fonts.css");
@import url("header.css");
@import url("reset.css");

body {
	background-color: #ffffff;
	font-family: "Inter", sans-serif;
	color: #000000;
}
.wrapper {
	min-height: 100%;
	overflow: clip;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}


[class*="__container"] {
	max-width: 1270px; /* 1170 + 15 + 15 */
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.page {
	margin-top: 130px;
}
.first-section {
	margin-bottom: 101px;
}
.first-section__container {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 30px;
}
.card {
	font-family: "CoreSansC", sans-serif;
	color: #ffffff ;
	background: url(../img/section1/card-img-1.webp) center / cover no-repeat;
    padding: 67px 0px 80px 28px;
    border-radius: 12px;
	min-height: 268px;
	position: relative;
	z-index: 0;
	overflow: hidden;
}
.card::before  {
position: absolute;
left: -100%;
opacity: 0;
visibility: hidden;
top: 0;
content: "";
width: 100%;
height: 100%;
background-color: #00000077;
z-index: -1;
border-radius: 12px;
transition: 0.3s
}
@media(any-hover:hover){
.card:hover::before {
	left: 0;
    opacity: 1;
    visibility: visible;
}
}
.card--second-card {
	background: url(../img/section1/card-img-2.webp) center / cover no-repeat;
}
.card__content {
	 max-width: 264px;
	margin-bottom: 42px;
}
.card__lable {
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	line-height: 1.3;
	letter-spacing: 0.25px;
	font-size: 18px;
	margin-bottom: 24px;
}
.card__title {
	font-weight: 800;
	font-size: 34px;
	line-height: 1.451;
	margin-bottom: 9px;
}
.card-discount {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.25px;
}
.card__info-card {
	font-weight: 800;
	font-size: 20px;
	line-height: 1.301;
	transition: all 0.3s;
	text-decoration-line: underline;
}
@media(any-hover:hover){
	.card__info-card:hover {
	   transform: scale(1.2);
	}
}
@media (max-width:1150px) {
	.card {
		padding: 50px 0px 60px 28px;
		border-radius: 12px;
	}
}
@media (max-width:990px) {
	.card {
		padding: 30px 0px 30px 18px;
		border-radius: 12px;
		min-height: 256px;
	}
	.card__content {
		margin-bottom: 30px;
	}
	.card__title {
		font-size: 24px;
	}
	.card__lable {
		margin-bottom: 18px;
	}

}
@media (max-width:440px) {
	.card__lable {
		margin-bottom: 10px;
	}
	.card__content {
		margin-bottom: 20px;
	}
	.card {
		padding: 20px 0px 20px 18px;
		min-height: 218px;
	}
}
@media (max-width:380px) {
	.card {
		padding: 20px 0px 20px 18px;
		min-height: auto;
	}
	.card__title {
		font-size: 20px;
	}
	.card__lable {
		font-size: 14px;
	}
	.card-discount {
		font-size: 14px;
	}
	.card__info-card {
		font-size: 18px;
	}
	.first-section__container {
		gap: 20px;
	}
}
/* /////////////////arrival\\\\\\\\\\\\\\\\\\\\\\\ */
.arrival {
	color: #3C4242;
	margin-bottom: 101px;
}
.arrival__item {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.arrival__title {
	font-family: "CoreSansC";
	font-size: 34px;
	font-weight: 700;
	line-height: 1.335;
	letter-spacing: 0.68px;
	padding-left: 26px;
    position: relative;
	margin-bottom: 70px;
}
.arrival__title::before {
	content: "";
    position: absolute;
    width: 6px;
    height: 90%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #8a33fd;
    border-radius: 10px;
}
.arrival__arrow-body {
	position: relative;
	padding: 0 35px;
}
.arrival__arrow-body::before,
.arrival__arrow-body::after {
	content: "";
    position: absolute;
    width: 16px;
    height: 14px;
    top: 50%;
    margin-top: -6px;
    background-image: url(../img/section2/arrow.png);
}
.arrival__arrow-body::before{
	left: 0;
	transform: rotate(180deg);
}
.arrival__arrow-body::after {
	right: 0;
}
.arrival__item-section {
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(262.81px, 1fr));
    gap: 38.58px;
}
.item__link {
	display: block;
	overflow: hidden;
	border-radius: 12px;
	margin-bottom: 33px;
}
.item__img {
	border-radius: 12px;
	width: 100%;
	height: 100%;
	aspect-ratio: 263 / 263;
	transition: all 0.3s;
}
@media(any-hover:hover){
	.item__img:hover{
	   transform: scale(1.1);
	}
}
.item__name {
	font-family: "Causten";
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 0.2px;
	transition: all 0.3s;
}
@media(any-hover:hover){
	.item__name:hover{
	   text-decoration-line: underline;
	}
}
@media (max-width:750px) {
	.arrival__title {
		font-size: 30px;
		padding-left: 20px;
		position: relative;
		margin-bottom: 40px;
	}
	.arrival__item-section {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
		gap: 25.0px;
	}
	.item__img {
		margin-bottom: 25px;
	}
}
@media (max-width:430px) {
	.arrival__title {
		font-size: 24px;
		padding-left: 15px;
		position: relative;
		margin-bottom: 30px;
	}
	.arrival__item-section {
		display: grid;
		gap: 25px;
	}
	.item__img {
		margin-bottom: 15px;
	}
}
@media (max-width:320px) {
	.arrival__title {
		font-size: 20px;
		padding-left: 15px;
		position: relative;
		margin-bottom: 30px;
	}
	.item__img {
		margin-bottom: 10px;
	}
}
/* //////////////////// saving zone \\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.saving-zone__item-section {
	display: grid;
    grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr;
    grid-gap: 20px;
	font-family: "Causten", sans-serif;
}
.saving-zone__title {
	font-family: "CoreSansC";
	font-size: 34px;
	font-weight: 700;
	line-height: 1.335;
	letter-spacing: 0.68px;
	padding-left: 26px;
    position: relative;
	margin-bottom: 70px;
	color: #3C4242;
}
.saving-zone__title::before {
	content: "";
    position: absolute;
    width: 6px;
    height: 90%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #8a33fd;
    border-radius: 10px;
}
.item__card {
	background: url(../img/section3/section3_img1.webp) center / cover no-repeat;
	color: #ffffff;
    width: 100%;
    height: 100%;
    aspect-ratio: 400/393;
    border-radius: 12px;
    padding: 16% 5%;
    display: flex;
	border-radius: 12px;
	flex-direction: column;
    align-items: flex-start;
	justify-content: flex-start;
    grid-column: span 2;
}

.item__card--second {
	background: url(../img/section3/section3_img2.webp) center / cover no-repeat;
	text-align: right;
	align-items: flex-end;
	padding: 16% 6.4%
}
.item__limited-offer{
	padding: 10px 16px;
	font-family: "Causten";
	font-weight: 700;
	font-size: 12px;
	background-color: #3C4242;
	margin-bottom: 28.67px;
	margin-top: -34px;
	max-width: 104px;
	border-radius: 4px;
	justify-content: flex-end;
}
.item__card--third {
	background: url(../img/section3/section3_img3.webp) center / cover no-repeat;
	text-align: right;
	align-items: flex-end;
	color: #3C4242;
}
.item__card--fourth {
	background: url(../img/section3/section3_img4.webp) center / cover no-repeat;
	grid-column: span 3;
	aspect-ratio: 610/393;
	padding: 11% 15% 11% 3%;
	text-align: right;
	align-items: flex-end;
	color: #3C4242;
}
.item__card--fifth {
	background: url(../img/section3/section3_img5.webp) center / cover no-repeat;
	grid-column: span 3;
	aspect-ratio: 610/393;
	padding: 11% 15% 11% 3%;
	text-align: start;
	align-items: flex-end;
	color: #3C4242;
}
.item__link-item:hover ~ .item__arrow {
	transform: translateY(35px)
}
.item__content {
	margin-bottom: 30.84px;
	max-width: 156px;
}
.item__title {
	font-family: "CoreSansC";
	font-size: 28px;
	font-weight: 700;
	line-height: 1.384;
	letter-spacing: 0.68px;
	margin-bottom: 9.47px;
}
.item__title--margin-bottom15 {
	margin-bottom: 15px;
}
.item__offer {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 9.9px;
}
.item__cta {
	font-size: 18px;
	font-weight: 700;
}
.item__arow-link-section {
	display: flex;
	flex-direction: column-reverse;
	gap: 40px;
	align-items: center; 
}
.item__arrow {
	max-width: 23.62px;
	max-height: 20.86px;
	transition: all 0.5s;
}
.item__link-item {
	font-family: "Causten", sans-serif;
    font-size: 12px;
    border-radius: 4px;
    font-weight: 500;
    padding: 10px 25px;
    border: 1px solid;
    transition: all 0.3s;
}
@media(any-hover:hover){
	.item__link-item:hover{
	   background-color: #a19191;
	}
}
@media (max-width:999px) {
	.saving-zone__item-section {
grid-template-columns: repeat(4, 1fr);
grid-gap: 10px;
grid-auto-rows: 1fr;
}
.item__card {
    grid-column: span 2;
	padding: 10% 5%;
}
.item__card--second {
    grid-column: span 2;
	padding: 16% 5%;
}
.item__card--third {
    grid-column: span 2;
}
.item__card--fourth {
	padding: 10% 5%;
    align-items: flex-end;
    grid-column: span 2;
}
.item__card--fifth {
    grid-column: span 2;
	text-align: end;
	padding: 10% 5%;
}
}
@media (max-width:820px) {
	.item__content {
		margin-bottom: 20px;
	}
	.item__arow-link-section {
		gap: 20px;
	}
}
@media (max-width:649px) {
	.item__title {
		font-size: 20px;
	}
	.item__offer {
		font-size: 12px;
		}
	.item__cta {
		font-size: 16px;
		}
	}

@media (max-width:585px) {
	.saving-zone__item-section {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 10px;
		grid-auto-rows: 1fr;
		}
	.item__card,
	.item__card--second,
	.item__card--third,
	.item__card--fourth,
	.item__card--fifth {
		grid-column: span 2;
	}
		.item__title {
			font-size: 28px;
		}
		.item__offer {
			font-size: 14px;
		}
		.item__cta {
			font-size: 18px;
		}
}
@media (max-width:400px) {
	.item__title {
		font-size: 20px;
	}
	.item__offer {
		font-size: 12px;
		}
	.item__cta {
		font-size: 16px;
		}
}
@media (max-width:750px) {
	.saving-zone__title {
		font-size: 30px;
		padding-left: 20px;
		position: relative;
		margin-bottom: 40px;
	}
}
@media (max-width:430px) {
	.saving-zone__title {
		font-size: 24px;
		padding-left: 15px;
		position: relative;
		margin-bottom: 30px;
	}
}
@media (max-width:320px) {
	.arrival__title {
		font-size: 20px;
		padding-left: 15px;
		position: relative;
		margin-bottom: 30px;
	}
}