
@import url("fonts.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:700&display=swap");
@import url("reset.css");

body{
    font-family: "inter", sans-serif;
    font-size: 18px;
    color: #7D7D7D;
    line-height: 1.46;
   }
   .cube {
    background-color: #40DDB6;
    margin-right: 6px;
    width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align:middle;
   }
   header {
    margin: 0 auto;
    padding-top: 50px;
    max-width: 296px;
    margin-bottom: 70px;

   }
h1 {
    font-family: "poppins";
    font-size: 60px;
    font-weight: 700;
    color: #37393F;
    line-height: 1.21;
    text-align: center;
   }
h2 {
    font-family: "poppins";
    font-size: 40px;
    font-weight: 700;
    color: #37393F;
    line-height: 1.21;
    margin-bottom: 11px;
   }
   .one {
    margin-bottom: 32px;
   }
.retreat {
    margin-bottom: 100px;
    
}
.Licencing {
    margin: 0 auto;
    padding-left: 30px;
    padding-bottom: 30px; 
    max-width: 1218px;
}
h3 {
    font-family: "poppins";
    font-size: 30px;
    font-weight: 700;
    color: #37393F;
    margin-bottom: 8px;
   }
.two {
    margin-bottom: 24px;
}
span {
    color: #40DDB6;
}
.label_licencing {
    text-align: center;
    margin-bottom: 16px;
    color: #37393F;
}
.four {
    margin-bottom: 13px;  
}
.project {
    margin-bottom: 35px;
}
.information {
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 830px;
} 
 ol li {
    list-style: decimal-leading-zero;
    padding-left: 30px;
}
ul li {
    list-style: disc;
    padding-left: 30px;
}
.titel_clothing {
    font-family: "CoreSansC";
    font-size: 28px;
    font-weight: 700;
    color: #3C4242;
    margin-bottom: 30px;
}
.sub_titel_clothing {
    font-family: "CoreSansC";
    font-size: 20px;
    font-weight: 700;
    color: #807D7E;
    margin-bottom: 25px;
}
.paragraph_clothing {
    font-family: "causten";
    font-size: 20px;
    font-weight: 400;
    color: #807D7E;
    margin-bottom: 20px;
}
.paragraph_clothing_one {
    font-family: "causten";
    font-size: 20px;
    font-weight: 400;
    color: #807D7E;
    margin-bottom: 25px;
}
.clothing {
    margin: 0 auto;
    max-width: 1240px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 50px;
}
.bold {
    color: #807D7E;
    font-weight: 700;
}
 .jewellery {
    max-width: 1103px;
    margin: 0 auto;
    margin-bottom: 50px;
 }
 .necklace {
    vertical-align: top;
    margin-left: -10px;
    padding-top: 14px;
    border-radius: 235px;
    vertical-align: top;
}
.earrings {
    vertical-align: top;
    margin-left: -11px;
    padding-top: 19px;
    border-radius: 235px;
}
 .jewellery_image {
    margin-left: 75px;
    vertical-align: top;
    display: inline-block;
    font-size: 0;
}
.small_border {
    margin-right: 30px;
    width: 177px;
    height: 336px;
    vertical-align: middle;
    display: inline-block;
    border: 1px solid #502203;
    border-radius: 235px;
}
.big_border {
    width: 307px;
    height: 500px;
    vertical-align: middle;
    display: inline-block;
    border: 1px solid #502203;
    border-radius: 235px;
}
.jewellery_content {
    width: 503px;
    display: inline-block;
    vertical-align: middle;
}
.label_jewellery {
    font-family:"Cormorant Infant";
    font-size: 20px;
    font-weight: 700;
    color: #D58417;

}
.title_jewellery {
    font-family:"Cormorant Infant";
    font-size: 64px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 31px;
    
}
.paragraph_jewellery {
    font-family:"Cormorant Infant";
    font-size: 30px;
    font-weight: 700;
    color: #606060;
    line-height: 1.4;
    width: 489px;
}
.paragraph_karp {
    background-color: #D58417;
    color: aqua;
    margin-bottom: 30px;
    border: 15px solid #42d017;
    margin-bottom: 50px;
    border-radius: 10px;
    
}
.homework {
    margin: 0 auto;
    max-width: 1000px;
 }
.karp_one { 
    border: 10px dotted #91ffe3;
    max-width: 800px;
    margin: 0 auto; 
 }
 .karp { 
    margin: 0 auto;
    
 }
 .fishing_one {
    margin: 0 auto;
    margin-top: 100px;
    vertical-align: top;
    margin-bottom: 60px;
 }
.fishing {
    margin: 0 auto;
    max-width: 800px;
    border: 10px dashed #b9ff22;
    background-color: #00ff1e;
 }
 a {
    margin-right: 50px;
    font-size: 30px;
    border-top: 30px solid #411eb4;
	border-right: 20px dashed red;
	border-bottom: 30px solid #000;
	border-left: 20px dashed rgb(240, 97, 211);
 }

.paragraph_fishing {
    margin-bottom: 50px;
    margin-top: 100px;
    border: 20px double rgb(255, 106, 181);
    outline: 5px solid goldenrod;
}
.circle {
    margin: 0 auto;
    background-color: #411eb4;
    width: 300px;
    height: 300px;
    border-radius: 60%;
    box-shadow: 10px 15px 20px 10px #1d3fa5;
    margin-bottom: 100px;
}
.opacity {
    margin: 0 auto;
    padding-bottom: 50px;
}
.img_opacity {
    max-width: 600px;
    margin: 0 auto;
    opacity: 50%;
 }
 footer {
    background-color: #411eb4;
    color: red;
    text-align: center;
 }